* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

p {
    font-family: 'apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);

}

body {
    background-color: #000000;
    color: white;
}


.nav_back {
    
    background-color: #000000;
}

/* .navbar ul li a {
   
} */
.navbar img {
    width: 164px;
}

#navbarSupportedContent {
    margin-right: -82px;
}

#navbarSupportedContent>ul>li:nth-child(n)>a {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0px;
    margin-right: 22px;
}

.nav_mar {
    margin-right: 20px;
    margin-left: 20px;
}

.nav_btn1 {
    background-color: #000000;
    color: white;
    color: rgb(255, 255, 255);
    /* padding: 12px 16.5px; */
    width: 230px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 35px;
    border: 1px solid #fff;
    /* margin :0px 15px 0px 15px; */
    margin-left: 34px;



}

#nav_h {

    background: white !important;
}

@media screen and (max-width: 992px) {
    .nav_btn1 {
        display: none !important;
    }
    .mbl{
       
        display: flex;
        flex-direction: row-reverse;
    }
}


@media screen and (max-width: 1260px) {
    #navbarSupportedContent>ul>li:nth-child(n)>a {
        color: white;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 400px;
        letter-spacing: 0px;
        margin-right: 22px;
    }



}
@media screen and (max-width: 1283px) {
    .nav_btn2 {
        background-color: #ed1c24;
        text-transform: capitalize;
        color: rgb(255, 255, 255);
        width: 230px;
        height: 60px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 35px;
        border: 1px solid #ed1c24;
        /* margin :0px 15px 0px 0px; */
        margin-right: 34px;
    
    
    
    
    }
}
@media screen and (max-width: 992px) {
    .nav_btn2 {
        background-color: #ed1c24!important;
        text-transform: capitalize!important;
        color: rgb(255, 255, 255)!important;
        width: 300px!important;
        height: 60px!important;
        font-size: 14px!important;
        font-weight: 400!important;
        border-radius: 35px;
        border: 1px solid #ed1c24!important;
     
        margin-right: 34px;
    
    
    
    
    }
    .nav_btn2_icon{
        margin: 0px 20px 0px 0px;
    }
    .btn_con{
        width: 104px;
        margin: 0px -8px 0px 0px;
    }

    .back_2nd button{
        width: 132px!important;
    }
}
@media screen and (max-width: 1230px) {
    .nav_btn2 {
        background-color: #ed1c24!important;
        text-transform: capitalize!important;
        color: rgb(255, 255, 255)!important;
        width: 300px!important;
        height: 60px!important;
        font-size: 14px!important;
        font-weight: 400!important;
        border-radius: 35px;
        border: 1px solid #ed1c24!important;
     
        margin-right: 34px;
    
    
    
    
    }
    .nav_btn2_icon{
        margin: 0px 20px 0px 0px;
    }
    .btn_con{
        width: 104px;
        margin: 0px -8px 0px 0px;
    }
}
@media screen and (max-width: 1278px) {
    .nav_btn2 {
       
     
        margin-left: 21px;
    
    
    
    
    }
    .nav_btn2_icon{
        margin: 0px 20px 0px 0px;
    }
    .btn_con{
        width: 104px;
        margin: 0px -8px 0px 0px;
    }
}



@media screen and (max-width: 1283px) {
    .nav_btn1 {
        background-color: #000000!important;
        color: white!important;
        color: rgb(255, 255, 255)!important;
        /* padding: 12px 16.5px; */
        width: 230px!important;
        height: 60px!important;
        font-size: 14px!important;
        font-weight: 400!important;
        border-radius: 35px!important;
        border: 1px solid #fff;
        /* margin :0px 15px 0px 15px; */
        margin: 0px 5px!important;
    
    
    
    }
}

@media screen and (max-width: 1230px) {
    .nav_btn1 {
        background-color: #000000;
        color: white;
        color: rgb(255, 255, 255);
        /* padding: 12px 16.5px; */
        width: 230px;
        height: 60px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 35px;
        border: 1px solid #fff;
        /* margin :0px 15px 0px 15px; */
        margin-left: 34px;
    
    
    
    }
    .nav_btn2_icon{
        margin: 0px 20px 0px 0px;
    }
    .btn_con{
        width: 104px;
        margin: 0px -8px 0px 0px;
    }
}






.nav_btn2 {
    background-color: #ed1c24;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    width: 230px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 35px;
    border: 1px solid #ed1c24;
    /* margin :0px 15px 0px 0px; */
    margin-right: 34px;




}

.nav_btn2_icon {

    background-color: #fff;
    color: #dc3545;
    padding: 6px 9px;
    border-radius: 23px;
    margin-left: 7px;

}

/* .carousel-item{
height: 90vh;
} */

.back_2nd {
    background-color: #000000;
    padding-top: 90px;
    padding-bottom: 120px;
}



.main_custom_heading-second h2 {


    margin-bottom: 8px;
    color: #FFFFFF;
}

@font-face {
    font-family: "futrak";
    src: url(futurak/Futura\ Black.ttf);
}

.logo-text-hold {
    font-family: 'futrak';
    font-style: normal;
    font-weight: 400px;
    font-size: 60px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;

}



.para {
    font-family: serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}

.logo-text-hold-second {
    font-family: 'futrak';
    font-style: normal;
    font-weight: 400px;
    font-size: 39px;
    letter-spacing: 1px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;

}

.logo-text-hold-third {
    font-family: 'futrak';
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;

}


.back_2nd img {
    background-color: white;
    margin-bottom: 23px;
    width: 280px;
    height: 140px;
    border-radius: 5px;

}

.back_2nd button {
    background-color: rgb(0, 0, 0);
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.back_3rd {
    background-color: rgba(255, 255, 255, 0.06);
}

.back_3rd .heading {
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
    padding-top: 60px;
}

.back_3rd p {

    font-family: 'apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);

}

.smalll {
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
    display: block;
}

.about a {
    text-decoration: none;
    color: white;
}

.about .btn {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.arrow-one {
    background-color: #fff;
    color: #dc3545;
    width: 27px;
    height: 27px;
    padding: 5px 8px;
    border-radius: 30px;
    margin-left: 10px;
}

.inner_back {
    position: relative;
}

.one_right_img {
    position: absolute;
    right: 32px;
    top: 32px;
}

.one_left_img {
    position: absolute;
    left: 30px;
    top: 32px;
}

.one_right_center_img {
    position: absolute;
    right: 0px;
    bottom: -50px;
}

.back_4th {
    padding-top: 50px;
}

.btn {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.smmall {
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
    display: block;
}

.sec_4_heading {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;


    /* margin-bottom: 30px; */
}

.sec_4_parah {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 12px;
    text-decoration: none;
    /* margin-bottom: 30px; */
}

.sec_4_parah a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.btn_1 {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    FONT-VARIANT: JIS83;
    margin-top: 20px;
    padding-top: 15px;
}

.btn_1:hover {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    FONT-VARIANT: JIS83;
    margin-top: 20px;
    padding-top: 15px;
}

.arrow-one {
    padding: 8px 8px 6px;
}

.section_5th {
    background-color: rgba(255, 255, 255, 0.06);

   padding-top: 40px;
   padding-bottom: 40px;
   padding-left: 0px;
   
}

.section_5th a {
    text-decoration: none;
    color: white;
}

.btn_green {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background-color: #28A745;
    color: #FFFFFF;
    FONT-VARIANT: JIS83;
    margin-top: 20px;
    padding-top: 15px;
}

.btn_green .arrow-one {
    color: #28A745;
}

.btn_green:hover {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background-color: #28A745;
    color: #FFFFFF;
    FONT-VARIANT: JIS83;
    margin-top: 20px;
    padding-top: 15px;
}

.section_6 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {

    height: 270px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    /* padding: 25px 24px; */
    /* margin: auto; */
    margin-bottom: 32px;
}

.card img {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60px;
    margin: 0px auto;
}

.para2 {
    color: #000000;
    font-size: 20px;

}

.back_footer {
    color: #fff;
    position: relative;
    padding-top: 70px;
    /* padding-bottom: 19px; */
    padding-right: 15px;
    padding-left: 15px;

    background: rgba(255, 255, 255, 0.06);
    z-index: -2;

}

.back_footer img {
padding-bottom: 20px;
    width: 160px;

}

.back_footer ul li {
    text-decoration: none;
    list-style-type: none;
    margin-left: -30px;
    text-transform: capitalize;
    padding-top: 15px;
}

.back_footer a {
    color: white;
    text-decoration: none;

}

.back_footer .icon {

    display: flex;
    align-items: center;
    margin-right: 8px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ED1C24;
    color: #fff;
    border-radius: 50px;



}

.left_side_footer .left_side_img {
    position: absolute;

    width: 366px;
    z-index: -1;
}

.back_footer .logo_div {
    margin-left: -52px;
    margin-top: 16px;
}
.foter_last_line{
    margin-top: -50px;
}