*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(215, 219, 223);
}

    
.heading {
    font-size: 62px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 50px;
}
.one{
    display: inline;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
   background-color: black;
  
   
}
.href_tag{
 color: white;
 text-decoration: none;
 
}
.icon{
    color: green; 
    font-size: 100px;
}